.cover__subtitle {
  max-width: 360px;
  margin: 32px 0 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-weight: 400;
  z-index: 2;
}

@media screen and (max-width: 650px) {
  .cover__subtitle {
    max-width: 250px;
    margin: 16px 16px 0 16px;
    font-size: 14px;
    line-height: 16px;
  }
}

